body {
    background-color: black;
    height: 6000px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

div {
    margin-top: 1000px;
    color: white;
    text-align: center;
    opacity: 0;
    transition: all 0.8s;
}